C7H5VB_1004/C7H5VB_orarend.dtd

<?xml version="1.0" encoding="utf-8"?>


	<!ELEMENT XY_orarend (ora+)>

	<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)>
	<!ATTLIST ora id ID #REQUIRED>
	<!ATTLIST ora típus (előadás|gyakorlat)	"előadás">

	<!ELEMENT idopont (nap,tol,ig )>
	<!ELEMENT nap (hetfő|kedd|szerda|csütörtök|péntek)>
	<!ELEMENT tol (#PCDATA)>
	<!ELEMENT ig (#PCDATA)>

	<!ELEMENT helyszin (#PCDATA)>

	<!ELEMENT oktato (#PCDATA)>

	<!ELEMENT szak (#PCDATA)>
